h1{
    color: aqua;
    background-color: aquamarine;
    text-align: center;
    text-transform:capitalize;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200px ;

}